<section class="section overflow room-hero-section">
    <div class="container reletiv">
         <h1 class="room-hero-title">Double <br> <span class="italic">luxury</span> room</h1>
         <a href="#" class=" js-open-modal" data-modal="3"><button class="button button-white" type="button">View prices</button></a>

         <div class="slider-wraper">
            <div class="slider">
              <div class="box"><picture>
<!-- Desk screen -->
<source
    media="(min-width: 1440px)"
    srcset="../../images/room-page_img/arrengement/hero/image1-desk@1x.jpg 1x, ../../images/room-page_img/arrengement/hero/image1-desk@2x.jpg 2x"
    type="image/jpg"
    />
<!-- Tablet -->

<source  media="(min-width: 768px)"
    srcset="../../images/room-page_img/arrengement/hero/image1-tablet@1x.jpg 1x, ../../images/room-page_img/arrengement/hero/image1-tablet@2x.jpg 2x"
    type="image/jpg" />

    <!-- Mobile -->
<source  media="(max-width: 767px)"
    srcset="../../images/room-page_img/arrengement/hero/image1-mobile@1x.jpg 1x, ../../images/room-page_img/arrengement/hero/image1-mobile@2x.jpg 2x"

    type="image/jpg" />

    <img
    class="slider-img"
    src="../../images/room-page_img/arrengement/hero/image1-mobile@1x.jpg"
    alt="room"

    loading="lazy">

               </picture></div>
               <div class="box">
                <picture>
<!-- Desk screen -->
<source
    media="(min-width: 1440px)"
    srcset="../../images/room-page_img/arrengement/hero/image2-desk@1x.jpg 1x, ../../images/room-page_img/arrengement/hero/image2-desk@2x.jpg 2x"
    type="image/jpg"
    />
<!-- Tablet -->

<source  media="(min-width: 768px)"
    srcset="../../images/room-page_img/arrengement/hero/image2-tablet@1x.jpg 1x, ../../images/room-page_img/arrengement/hero/image2-tablet@2x.jpg 2x"
    type="image/jpg" />

    <!-- Mobile -->
<source  media="(max-width: 767px)"
    srcset="../../images/room-page_img/arrengement/hero/image2-mobile@1x.jpg 1x, ../../images/room-page_img/arrengement/hero/image2-mobile@2x.jpg 2x"

    type="image/jpg" />

    <img
    class="slider-img"
    src="../../images/room-page_img/arrengement/hero/image2-mobile@1x.jpg"
    alt="room"

    loading="lazy">

                </picture>
               </div>
               <div class="box">
                <picture>
<!-- Desk screen -->
<source
    media="(min-width: 1440px)"
    srcset="../../images/room-page_img/arrengement/hero/image3-desk@1x.jpg 1x, ../../images/room-page_img/arrengement/hero/image3-desk@2x.jpg 2x"
    type="image/jpg"
    />
<!-- Tablet -->

<source  media="(min-width: 768px)"
    srcset="../../images/room-page_img/arrengement/hero/image3-tablet@1x.jpg 1x, ../../images/room-page_img/arrengement/hero/image3-tablet@2x.jpg 2x"
    type="image/jpg" />

    <!-- Mobile -->
<source  media="(max-width: 767px)"
    srcset="../../images/room-page_img/arrengement/hero/image3-mobile@1x.jpg 1x, ../../images/room-page_img/arrengement/hero/image3-mobile@2x.jpg 2x"

    type="image/jpg" />

    <img
    class="slider-img"
    src="../../images/room-page_img/arrengement/hero/image3-mobile@1x.jpg"
    alt="room"

    loading="lazy">

</picture>
               </div>
               </div>
          </div>

         <p class="room-hero-text">The Mimino hotel features spacious and stylish double luxury rooms with modern amenities for a comfortable stay.</p>



    </div>
</section>