<footer class="footer-section">
    <div class="container footer-flex">
  <ul class="link-page-flex">
    <li><a class="link-page" href>Home</a></li>
    <li><a class="link-page" href>Hotel</a></li>
    <li><a class="link-page" href>Restaurant</a></li>
  </ul>
  
      <div class="footer-name">
        <a class="logo-footer" href>Mimino</a>
        <p class="text-footer">restaurant-hotel complex</p>
      </div>
      <ul class="footer-icon-flex">
        <li><svg class="social-icon" width="20" height="20">
          <use href="../images/icons/sprite.svg#icon-instagram"></use>
        </svg></li>
        <li><svg class="social-icon" width="20" height="20">
          <use href="../images/icons/sprite.svg#icon-facebook"></use>
        </svg></li>
        <li><svg class="social-icon" width="20" height="20">
          <use href="../images/icons/sprite.svg#icon-twitter"></use>
        </svg></li> 
      </ul>  
    </div>
  </footer>
  