<header class="header"> 
  <!-- Header-button-open-menu -->
    <div class="header-container container">
    
        <button
        class="header-btn-burger menu-toggle js-open-menu" type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
        >
        <svg class="icon-open-menu" width="32" height="32">
            <use class="header-icon" href="../../images/icons/sprite.svg#icon-burger"></use>
        </svg>
        </button>

         <!-- navigation -->
        <nav class="header-nav">
            <ul class="header-list">
              <li class="list">
                <a class="nav-item link" href="index.html">home</a>
              </li>
              <li class="list">
                <a class="nav-item link current" href="hotel.html">hotel</a>
              </li>
              <li class="list">
                <a class="nav-item link" href="restaurant.html">restaurant</a>
              </li>
            </ul>
        </nav>
        
        <div class="header-logo-container">
        <a class="header-logo logo link" href="index.html"
        >Mimino
        <span class="header-logo-text">restaurant-hotel complex</span></a
        >
        </div>

        <div class="header-social-media-container">
             
            <ul class="header-socials-list">

                <li class="header-socials-item list">
                    <a
                    class="header-social-link link"
                    href="https://facebook.com"
                    aria-label="Facebook"
                    target="_blank"
                    rel="noopener no-referrer"
                    >
                    <svg class="header-socials-icon" width="24" height="24">
                        <use href="../../images/icons/sprite.svg#icon-facebook"></use>
                    </svg>
                    </a>
                </li>
                
                <li class="header-socials-item list">
                    <a
                    class="header-social-link link"
                    href="https://instagram.com"
                    aria-label="Instagram"
                    target="_blank"
                    rel="noopener no-referrer"
                    >
                    <svg class="header-socials-icon" width="24" height="24">
                        <use href="../../images/icons/sprite.svg#icon-instagram"></use>
                    </svg>
                    </a>
                </li>
                <li class="header-socials-item list">
                    <a
                    class="header-social-link link"
                    href="https://twitter.com"
                    aria-label="Twitter"
                    target="_blank"
                    rel="noopener no-referrer"
                    >
                    <svg class="header-socials-icon" width="24" height="24">
                        <use href="../../images/icons/sprite.svg#icon-twitter"></use>
                    </svg>
                    </a>
                </li>

            
            </ul>
        </div>
        
    </div>
          
</header>
