<header class="header-black"> 
  <!-- Header-button-open-menu -->
    <div class="header-container-black container">
    
        <button
        class="header-btn-burger-black menu-toggle js-open-menu" type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
        >
        <svg class="icon-open-menu-black" width="32" height="32">
            <use class="header-icon-black" href="./images/icons/sprite.svg#icon-burger"></use>
        </svg>
        </button>

         <!-- navigation -->
        <nav class="header-nav-black">
            <ul class="header-list-black">
              <li class="list">
                <a class="nav-item-black link current" href="index.html">home</a>
              </li>
              <li class="list">
                <a class="nav-item-black link" href="hotel.html">hotel</a>
              </li>
              <li class="list">
                <a class="nav-item-black link" href="restaurant.html">restaurant</a>
              </li>
            </ul>
        </nav>
        
        <div class="header-logo-container-black">
        <a class="header-logo-black logo link" href="index.html"
        >Mimino
        <span class="header-logo-text-black">restaurant-hotel complex</span></a
        >
        </div>

        <div class="header-social-media-container-black">
             
            <ul class="header-socials-list-black">

                <li class="header-socials-item-black list">
                    <a
                    class="header-social-link-black link"
                    href="https://facebook.com"
                    aria-label="Facebook"
                    target="_blank"
                    rel="noopener no-referrer"
                    >
                    <svg class="header-socials-icon-black" width="24" height="24">
                        <use href="./images/icons/sprite.svg#icon-facebook"></use>
                    </svg>
                    </a>
                </li>
                
                <li class="header-socials-item-black list">
                    <a
                    class="header-social-link-black link"
                    href="https://instagram.com"
                    aria-label="Instagram"
                    target="_blank"
                    rel="noopener no-referrer"
                    >
                    <svg class="header-socials-icon-black" width="24" height="24">
                        <use href="./images/icons/sprite.svg#icon-instagram"></use>
                    </svg>
                    </a>
                </li>
                <li class="header-socials-item-black list">
                    <a
                    class="header-social-link-black link"
                    href="https://twitter.com"
                    aria-label="Twitter"
                    target="_blank"
                    rel="noopener no-referrer"
                    >
                    <svg class="header-socials-icon-black" width="24" height="24">
                        <use href="./images/icons/sprite.svg#icon-twitter"></use>
                    </svg>
                    </a>
                </li>

            
            </ul>
        </div>
        
    </div>
          
</header>
