<section class=" section hero-section">
    <div class="container">
    <h1 class="hero-title">
        Mimino
    </h1>
    

    <div class="desk-flex">
      <div class="buttons-flex">
           <button class="button button-black" data-modal-open type="button">book a room</button>
           <button class="button button-black" type="button">book  a table</button>
      </div>
    
       <div class="text-flex">
            <p class="hero-text one">Whether you're in the mood for a hearty breakfast, a light lunch, or <span class="italic">a romantic dinner,</span> our menu has something for everyone.</p>
            <p class="hero-text">At Hotel Mimino, <span class="italic">we believe</span> that great food should be available to everyone, no matter the time of day.</p>
       </div>
    </div>
    
    </div>
    
    </section>