<section class="section section-location">
    <div class="container container-location">
      <div class="location-flex">
          <h2 class="location-title">location</h2>
          <div class="contacts">
              <address class="address">
                  <a href="https://goo.gl/maps/WEFjjTGqhKeCFvKQ6" target="_blank" noopener noreferrer>Ukraine, Poltava, <br> St. Marshal Biryuzov, 15</a>
                </address>
                <div class="call-us">
                    <p class="call-title">call us:</p>
                    <ul class="phone">
                        <li class="contact-phone"><a href="tel:+380955559533">(095) 555 95 33</a></li>
                        <li class="contact-phone"><a href="tel:+380668491089">(066) 849 10 89</a></li>
                    </ul>
          </div>
            </div>
      </div>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.919870565829!2d34.525994600000004!3d49.5992605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2sMimino%20Restaurant%20and%20Hotel%20Complex!5e0!3m2!1sen!2spt!4v1678658468084!5m2!1sen!2spt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        <!-- <picture>
    Desktop screen
    <source type="image/jpg" media="(min-width: 1440px)" srcset="./images/home-page_img/home-location/map_desk@1x.jpg 1x, ./images/home-page_img/home-location/map_desk@2x.jpg 2x">
    Tablet screen
    <source type="image/jpg" media="(min-width: 768px)" srcset="./images/home-page_img/home-location/map_tab@1x.jpg 1x, ./images/home-page_img/home-location/map_tab@2x.jpg 2x">
    Mobile screen
    <source type="image/jpg" media="(max-width: 767px)" srcset="./images/home-page_img/home-location/map_mob@1x.jpg 1x, ./images/home-page_img/home-location/map_mob@1x.jpg 2x">
    <img class="location_img" src="./images/home-page_img/home-location/map_mob@1x.jpg" alt="Location map" width="335" height="384" loading="lazy">
    </picture> -->
    </div>
  </section>
  