<section class="section">
  <div class="container">
    <div class="review-one">
      <h2 hidden>Review</h2>
      <ul class="img-list">
        <li class="">
          <img
            class="img-one"
            width="335"
            height="442"
            src="./images/home-page_img/review.img/review-one-@1x.jpg"
            alt="room"
          />
        </li>
        <li>
          <img
            class="img-two"
            width="282"
            height="153"
            src="./images/home-page_img/review.img/review-two-@1x.jpg"
            alt="bathroom"
          />
        </li>
      </ul>
      <div class="description-review">
        <h3 class="title-review title-review-one">restaurant-hotel complex</h3>
        <ul>
          <li>
            <p class="text-review text-review-big">
              Indulge in a taste of luxury with every bite at Hotel Mimino. From
              the freshest seafood to the most succulent steaks, every dish is
              crafted with care to ensure that you enjoy a truly memorable
              dining experience.
            </p>
          </li>
          <li>
            <p class="text-review">
              Treat yourself to a taste of the good life and come dine with us
              today!
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="review-two">
      <h2 hidden>Review</h2>
      <img
        class="img-three"
        width="335"
        height="311"
        src="./images/home-page_img/review.img/review-three-@1x.jpg"
        alt="restaurant"
      />
      <div class="review-tabl">
        <div class="lll">
          <h3 class="title-review title-review-two">business class hotel</h3>
          <p class="text-review">
            The Mimino hotel features spacious and stylish double luxury rooms
            with modern amenities for a comfortable stay.
          </p>
        </div>
        <img
          class="img-four"
          width="335"
          height="309"
          src="./images/home-page_img/review.img/review-four-@1x.jpg"
          alt="cafe"
        />
      </div>
    </div>
  </div>
</section>
