<!-- IMG -->
<section class="section">
  <div class="container relrtiv">
    <ul class="position">
      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/home-page_img/review-section-img/desctop/too-armchair-desctop.jpg   1x,
              ./images/home-page_img/review-section-img/desctop/too-armchair-desctop2x.jpg 2x
            "
            type="image/jpg" />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/home-page_img/review-section-img/tabl/too-armchair-tabl.jpg   1x,
              ./images/home-page_img/review-section-img/tabl/too-armchair-tabl2x.jpg 2x
            "
            type="image/jpg" />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/home-page_img/review-section-img/mobail/too-armchair-mobile.jpg   1x,
              ./images/home-page_img/review-section-img/mobail/too-armchair-mobile2x.jpg 2x
            "
            type="image/jpg" />
          <img class="img-too-armchair" src="" alt="too-armchair"
        /></picture>
      </li>

      <li>
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/home-page_img/review-section-img/desctop/bath-deskto.jpg    1x,
              ./images/home-page_img/review-section-img/desctop/bath-desktop2x.jpg 2x
            "
            type="image/jpg" />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/home-page_img/review-section-img/tabl/bath-tabl.jpg   1x,
              ./images/home-page_img/review-section-img/tabl/bath-tabl2x.jpg 2x
            "
            type="image/jpg" />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/home-page_img/review-section-img/mobail/bath-mobile.jpg   1x,
              ./images/home-page_img/review-section-img/mobail/bath-mobile2x.jpg 2x
            "
            type="image/jpg" />
          <img class="img-bath" src="" alt="bath"
        /></picture>
      </li>
      <li class="box box-maria">
        <p class="maria">Maria</p>

        <p class="give-color">give rating</p>
        <p class="give-r">4.5</p>
      </li>
    </ul>

    <!-- TEXT -->
    <ul class="position-text-one">
      <li class="h3-clas"><h3 class="h3www">restaurant-hotel complex</h3></li>
      <li class="margin-p">
        <p class="p-text">
          Indulge in a taste of luxury with every bite at Hotel Mimino. From the
          freshest seafood to the most succulent steaks, every dish is crafted
          with care to ensure that you enjoy a truly memorable dining
          experience.
        </p>
      </li>
      <li class="margin-p-second">
        <p class="p-text">
          Treat yourself to a taste of the good life and come dine with us
          today!
        </p>
      </li>
    </ul>
    <!-- IMG -->
    <div class="relrtiv">
      <ul class="position-second">
        <li>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/home-page_img/review-section-img/desctop/tabl-wine-desktop.jpg   1x,
                ./images/home-page_img/review-section-img/desctop/tabl-wine-desktop2x.jpg 2x
              "
              type="image/jpg" />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/home-page_img/review-section-img/tabl/tabl-wine-tabl.jpg   1x,
                ./images/home-page_img/review-section-img/tabl/tabl-wine-tabl2x.jpg 2x
              "
              type="image/jpg" />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/home-page_img/review-section-img/mobail/tabl-wine-mobil.jpg   1x,
                ./images/home-page_img/review-section-img/mobail/tabl-wine-mobil2x.jpg 2x
              "
              type="image/jpg" />
            <img class="img-tabl-wine" src="" alt="tabl-wine"
          /></picture>
        </li>
        <li class="position-alexander box">
          <p class="maria">Alexander</p>

          <p class="give-color">give rating</p>
          <p class="give-r">5.5</p>
        </li>
      </ul>

      <ul class="margin-p-bisnes">
        <li class="margin-last">
          <h3 class="h3www">business class hotel</h3>
          <p class="p-text-bisnes">
            The Mimino hotel features spacious and stylish double luxury rooms
            with modern amenities for a comfortable stay.
          </p>
        </li>

        <li>
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/home-page_img/review-section-img/desctop/hall-desktop.jpg     1x,
                ./images/home-page_img/review-section-img/desctop/hall-desktop2x.jpg2x
              "
              type="image/jpg" />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/home-page_img/review-section-img/tabl/hall-tabl.jpg    1x,
                ./images/home-page_img/review-section-img/tabl/hall-tabl.2x.jpg 2x
              "
              type="image/jpg" />
            <source
              media="(max-width: 767px)"
              srcset="
                ./images/home-page_img/review-section-img/mobail/hall-mobile.jpg    1x,
                ./images/home-page_img/review-section-img/mobail/hall-mobile.2x.jpg 2x
              "
              type="image/jpg" />
            <img class="img-hall" src="" alt="hall"
          /></picture>
        </li>
      </ul>
    </div>
  </div>
</section>
