.backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(18, 18, 18, 0.3);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 628px;
    height: 476px;
    background-color: aliceblue;
}
