/* 1111121212121 */

/* min 375px */

@media screen and (min-width:768px) {

}

/* 121212121212121212121212 */



.backdrop{
    position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;


 

    background-color: var(--secondary-white-color);
    


    background-color: rgba(18, 18, 18, 0.5);
    /* display: none; */

}

.data-modal-close {
    content: "";
    position: absolute;
    z-index: 1000;
    top: 14px;
    right: 14px;
    background-color: transparent;
    border: transparent;
}

.modal{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 355px;
    background-color: aliceblue;
    padding: 24px 24px 40px 24px;
    background-color: var(--primary-black-color);
    border-radius: 2px;
    color: var(--primary-white-color);
    text-transform: uppercase;
   box-shadow: 
    0 0 6px rgba(0,0,0,0.1), 
    0 3px 10px rgba(0,0,0,0.2), 
    0 12px 20px rgba(0,0,0,0.2), 
    0 24px 36px rgba(0,0,0,0.3);
}

@media screen and (min-width:768px) {
.modal{
    width: 628px;
    padding: 32px 32px 60px 32px;
}
}


.book-a-table-title {
display: block;
font-weight: 500;
font-size: 28px;
line-height: --38px;
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--primary-white-color);
margin-bottom: 40px;
}


@media screen and (min-width:768px) {
.book-a-table-title {
    font-size: 36px;
line-height: var(--36px);
}
}





/* modal-form */

.modal-form-input::placeholder {
font-weight: 500;
font-size: 14px;
line-height: var(--14px);
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--primary-white-color);
}

.modal-form-input {
font-weight: 500;
font-size: 14px;
line-height: var(--14px);
letter-spacing: -0.02em;
width: 100%;
height: 20px;
fill: currentColor;
background-color: var(--primary-black-color);
color: var(--primary-white-color);
border: none;
text-transform: uppercase;
}

.modal-form-input:focus {
outline: none;

}



@media screen and (min-width:768px) {
.forms {
    display: block;
    gap: 32px;
}
}

@media screen and (min-width:768px) {
.form-1 {
display: flex;
gap: 32px;
}

.form-2 {
display: flex;
flex-direction: row-reverse;
gap: 32px;
}
}



/* name-lable */

.name-lable {
    display: block;
    margin-bottom: 32px;
    background-color: var(--primary-black-color);
}

@media screen and (min-width:768px) {
.name-lable {
   width: 266px;
}
}

.user-name-form {
    position: relative;
    display: block;
    margin-bottom: 26px;
}

.modal-hint {
font-weight: 400;
font-size: 8px;
line-height: var(--8px);
letter-spacing: 0.18em;
color: var(--secondary-white-color);
}

/* number-lable */

.number-lable {
    position: relative;
    display: block;
    margin-bottom: 50px;
}


@media screen and (min-width:768px) {
.number-lable {
   width: 266px;
}
}

/* date-lable */


.date-lable {
    display: block;
    padding-bottom: 32px;
}

@media screen and (min-width:768px) {
.date-lable {
   width: 266px;
}
}

.date-form {
    position: relative;
    display: block;
    padding-bottom: 26px;
}


@media screen and (min-width:768px) {
.date-lable {
   width: 266px;
}
}

/* phon-number-lable */

.phon-number-lable {
    display: block;
    padding-bottom: 40px;
}

@media screen and (min-width:768px) {
.phon-number-lable  {
   width: 266px;
}
}

.phone-number-form {
    position: relative;
   display: block;
    padding-bottom: 26px; 
}


/*     line      */

.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    top: 36px;
    width: 100%;
    height: 1px;
    background-color: gray;
    
}

/* buttons */

.text-align {
    text-align: center;
}

.button-black-modal {

padding: 14px 48px;
border-radius: 32px;
margin-left: auto;
margin-right: auto;
}

@media screen and (min-width:768px) {
.button-black-modal {
padding: 14px 133px;
font-size: 14px;
line-height: calc(24 / 14);
}
}

.button-black-modal:hover,
.button-black-modal:focus {
margin-left: auto;
margin-right: auto;
}
.close-button{
    background-color: transparent;
    border: transparent;
}
.close-icon{
 stroke: black;
}


.icon-button-close {
    stroke: white;

}