.menu-container{
    position: fixed;
display: flex;
flex-direction: column;
   overflow-y: scroll;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    z-index: 999;
    background-color: black;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1440px){
    .menu-container{
        display: none;
    }
}

.menu-container.is-open{
    transform: translateX(0);
   }



   /* *menu header */
  
   .mobile-menu-header{
    /* display: flex;
    align-items: center; */
padding: 22.5px 20px;


    border-bottom: 0.5px solid rgba(247, 247, 247, 0.2);
   }

   .mobile-header.container{
    display: flex;
    align-items: center;

    
   }

   @media screen and (min-width: 768px) {
    .mobile-menu-header{
padding: 20.5px 32px;


    }
   }


   .js-close-menu{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    margin-right: 83px;

    padding: 0;
    width: 28px;
    height: 28px;
    background-color: transparent;
    border: none;
   }

   @media screen and (min-width: 768px) {
    .js-close-menu{
        width: 32px;
        height: 32px;
margin-right: 246px;
    }
   }

   .mobile-icon-close{
    width: 14px;
    height: 14px;
    stroke: var(--primary-white-color);
   }

   @media screen and (min-width: 768px) {
    .mobile-icon-close{
    width: 16px;
    height: 16px;
   }
   }



   /* logo section */

   .logo-section{
    text-align: center;
   }
   .header-title{
    margin-bottom: 3px;
    font-weight: 500;
font-size: 14px;
line-height: calc(22/14);
letter-spacing: 0.18em;
color: var(--primary-white-color);
   }

   @media screen and (min-width: 768px) {
    .header-title{
        font-size: 20px;
line-height: var(--20px);
letter-spacing: 0.18em;
    }
   }

   .header-text{
    font-size: 6px;
line-height: calc(8/6);
letter-spacing: 0.18em;
color: var(--primary-white-color);
   }

   @media screen and (min-width:768px) {
    .header-text{
        font-size: 8px;
line-height: calc(10/8);
letter-spacing: 0.18em;
    }
   }
  
   .header-tablet-social{
    margin-left: auto;
   }
    @media screen and (max-width: 767px) {
       .header-tablet-social{
       display:none;
    }
    }

    @media screen and (min-width: 768px) {
       .header-tablet-list{
       display:flex;
justify-content: space-between;
       align-items: center;
       width: 100px;
       
    }
    }

    .social-media-link{
        display: inline-block;
        width: 20px;
        height: 20px;
    }


    @media screen and (min-width:768px) {
        .social-media-link{
        width: 24px;
        height: 24px;
    }
    }


    /* *body */

    .menu-main-container{
        display: flex;
        flex-direction: column;
       
    height: 100%;
        padding-top: 128px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 24px;
    }

    .mobile-nav{
        text-align: center;
        margin-bottom: auto;
    }

    .mobile-link-item:not(:last-child){
        margin-bottom: 32px;
    }


    .link-mobile{
        font-weight: 400;
font-size: 18px;
line-height: var(--18px);
letter-spacing: 0.05em;
color: var(--primary-white-color);
    }

    @media screen and (min-width:768px) {
        .link.mobile{
            font-size: 28px;
line-height: calc(32/28);
        }
    }

    
    

.social-media-mobile{
    display: flex;
    justify-content: space-between;
    width: 88px;
}

@media screen and (min-width: 768px) {
    .social-media-mobile{
        display: none;
    }
}

   
.social-icon-mob{
    stroke: var(--primary-white-color);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover > .social-icon-mob,
.social-media-link:focus > .social-icon-mob{
    
    stroke: rgb(247, 247, 247, 0.5);
}