
/* .modal-close {
    position: absolute;
    z-index: 100;
    top: 14px;
    right: 14px;
    border-radius: 50px;
    
    background-color: transparent;
    border: transparent;
    stroke: white;
} */


.modal-price{
    
    display: flex;
    flex-direction: column;
   
    width: 335px;
    height: auto;

    padding: 24px 24px 40px 24px;
}

@media screen and (min-width:768px) {
    .modal-price{
    width: 628px;
    height: 430px;
    padding-top: 32px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
}
}

.room-name{
    font-weight: 500;
font-size: 14px;
line-height: var(--14_18px);
margin-bottom: 24px;

}
.price-title {
display: block;
font-weight: 500;
font-size: 28px;
line-height: --28px;
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--primary-white-color);
margin-bottom: 40px;
}


@media screen and (min-width:768px) {
.price-title {
    font-size: 36px;
    line-height: var(--36px);
    margin-bottom: 60px;
}
}





/* modal-form */

.modal-form-input::placeholder {
font-weight: 500;
font-size: 14px;
line-height: var(--14_18px);
letter-spacing: -0.02em;
text-transform: uppercase;
color: var(--primary-white-color);
}

.modal-form-input {
    position: relative;
font-weight: 500;
font-size: 14px;
line-height: var(--14px);
letter-spacing: -0.02em;
width: 100%;
height: 36px;
fill: currentColor;
background-color: var(--primary-black-color);
color: var(--primary-white-color);
border: none;
text-transform: uppercase;
border-bottom: 1px solid var(--border-black);
background-image: url(../../images/icons/down-dan.svg);
background-repeat: no-repeat;
background-size: 10px 5px;
background-position-x: right;
background-position-y: 8px;
}

.modal-form-input:focus {
outline: none;
}



.number-form.current select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
}




@media screen and (min-width:768px) {
  .forms {
    display: block;
  }       
}

@media screen and (min-width:768px) {
 .form-1 {
    display: flex;
    justify-content: space-around;
    gap: 32px;
 }


}



.price {
    display: block;
    margin-bottom: 40px;
    background-color: var(--primary-black-color);
}

@media screen and (min-width:768px) {
.price {
   width: 266px;
}
}

.price-form {
    position: relative;
    display: block;
    /* margin-bottom: 26px; */
}

.modal-hint {
font-weight: 400;
font-size: 8px;
line-height: var(--8px);
letter-spacing: 0.18em;
color: rgba(216, 215, 215, 1);
margin-top: 8px;
}

/* number-lable */

.number-lable {
    position: relative;
    display: block;
    margin-bottom: 32px;
    font-size: 14px;
    line-height: var(--14px_18);
}


@media screen and (min-width:768px) {
.number-lable {
   width: 266px;
   margin-bottom: 80px;
}
}

.modal-form-input.chek-in{
    height: 32px;
    background-image: none;
}





/*     line      */

/* .current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    top: 36px;
    width: 100%;
    height: 1px;
    background-color: gray;
    
} */

.button-black-modal {

padding: 14px 48px;
border-radius: 32px;
margin-left: auto;
margin-right: auto;
font-size: 14px;
line-height: calc(18 / 14);
}

@media screen and (min-width:768px) {
.button-black-modal {
padding: 14px 133px;
font-size: 14px;
line-height: calc(24 / 14);
}
}

/* .button-black-modal:hover,
.button-black-modal:focus {
margin-left: auto;
margin-right: auto;
} */
/* .close-button{
    background-color: transparent;
    border: transparent;
}
.close-icon{
 stroke: black;
} */


/* .icon-button-close {
    stroke: white;

} */