
.hotel-hero-container{
    position: relative;
}

.box{
    width: 250px;
    height: 429px;
    margin-right: 20px;
    background-color: aqua;
    border: 1px solid hotpink;
}
/* .box:not(:last-child){
    margin-right: 160px;
    margin-left: 100px;
} */


@media screen and (min-width: 767px){
    .box{
        width: 436px;
        height: 548px;
    }
    .box:not(:last-child){
        margin-right: 32px;
    }
}


@media screen and (min-width: 1440px){
    .box{
        width: 436px;
        height: 580px;
    }
    
}
  
.slick-next:before{
    content: '>';
    
}
.slick-prev:before{
    content: '<';
    
}

.slick-slider{
    width: 520px;
    margin-right: auto;
    margin-left: auto;
}

.slick-prev {
    left: 256px;
    top: 454px;
    border: 1px solid black;
}

.slick-next {
    right: 184px;
    top: 454px;
    border: 1px solid black;
}


    

@media screen and (min-width: 768px){
    .slick-slider{
      width: 904px;
      
    } 
    .slick-prev {
        left: 60px;
        top: 564px;
    }
    .slick-next {
        right: 751px;
        top: 564px;
    }
}


@media screen and (min-width: 1440px){
    .slick-slider{
      width: 904px;
   
    } 
    .slider-wraper{
        position: absolute;
        top: 30px;
        left: 50%; 
    }
    .slick-prev {
        left: 60px;
        top: 614px;
        
    }
    .slick-next {
        right: 751px;
        top: 614px;
        
    }
}

