<!-- Yuliya Solovenuk -->

<!-- section restaurant hero -->
<section class="restaurant-hero-section section">
    <div class="restaurant-hero-container reletiv container">
        
        <h1 class="restaurant-hero-title">Restaurant</h1>
        <ul class="restaurant-hero-btn-wrapper">
            <li class="restaurant-hero-item list">
               <button class="restaurant-hero-btn button button-white" type="button" data-modal-open>book a table</button>
            </li>
            <li class="restaurant-hero-item list">
                <a class="restaurant-hero-btn button button-white" href="#restaurant_menu">View a menu</a>
            </li>
        </ul>

        
        <div class="slider-wraper">
            
            <div class="slider">
            
                <div class="first-slide-rest box"> 
                    <picture>
                        <!-- Desktop -->
                        <source
                            media="(min-width: 1440px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest1_desk@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest1_desk@2x.jpg 2x"
                            type="image/jpg"
                        />
                        <!-- Tablet -->

                        <source  media="(min-width: 768px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest1_tab@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest1_tab@2x.jpg 2x"

                            type="image/jpg"
                        />

                            <!-- Mobile -->
                        <source  media="(max-width: 767px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest1_mob@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest1_mob@2x.jpg 2x"

                            type="image/jpg"
                        />

                        <img
                        class="img-rest-hero"
                        src="./images/restaurante-page_img/restaurant-hero-img/rest1_mob@1x.jpg"
                        alt="restaurant-atmosphere"
            

                        loading="lazy">
                    </picture>
                </div>
                <div class="second-slide-rest box">
                    <picture>
                        <!-- Desktop -->
                        <source
                            media="(min-width: 1440px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest2_desk@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest2_desk@2x.jpg 2x"
                            type="image/jpg"
                            />
                        <!-- Tablet -->

                        <source  media="(min-width: 768px)"
                        srcset="./images/restaurante-page_img/restaurant-hero-img/rest2_tab@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest2_tab@2x.jpg 2x"
                            type="image/jpg" />

                            <!-- Mobile -->
                        <source  media="(max-width: 767px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest2_mob@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest2_mob@2x.jpg 2x"

                            type="image/jpg" />

                        <img
                        class="img-rest-hero"
                        src="./images/restaurante-page_img/restaurant-hero-img/rest2_mob@1x.jpg"
                        alt="restaurant-atmosphere"


                        loading="lazy">
                    </picture>
                </div>
                <div class="third-slide-rest box">
                    <picture>
                        <!-- Desktop -->
                        <source
                            media="(min-width: 1440px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest3_desk@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest3_desk@2x.jpg 2x"
                            type="image/jpg"
                            />
                        <!-- Tablet -->

                        <source  media="(min-width: 768px)"
                        srcset="./images/restaurante-page_img/restaurant-hero-img/rest3_tab@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest3_tab@2x.jpg 2x"
                            type="image/jpg" />

                            <!-- Mobile -->
                        <source  media="(max-width: 767px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest3_mob@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest3_mob@2x.jpg 2x"

                            type="image/jpg" />

                        <img
                        class="img-rest-hero"
                        src="./images/restaurante-page_img/restaurant-hero-img/rest3_mob@1x.jpg"
                        alt="restaurant-atmosphere"


                        loading="lazy">
                    </picture>
                </div>
                <div class="fourth-slide-rest box">
                    <picture>
                        <!-- Desktop -->
                        <source
                            media="(min-width: 1440px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest4_desk@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest4_desk@2x.jpg 2x"
                            type="image/jpg"
                            />
                        <!-- Tablet -->

                        <source  media="(min-width: 768px)"
                        srcset="./images/restaurante-page_img/restaurant-hero-img/rest4_tab@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest4_tab@2x.jpg 2x"
                            type="image/jpg" />

                            <!-- Mobile -->
                        <source  media="(max-width: 767px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest4_mob@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest4_mob@2x.jpg 2x"

                            type="image/jpg" />

                        <img
                        class="img-rest-hero"
                        src="./images/restaurante-page_img/restaurant-hero-img/rest4_mob@1x.jpg"
                        alt="restaurant-atmosphere"


                        loading="lazy">
                    </picture>
                </div>
                <div class="fifth-slide-rest box">
                    <picture>
                        <!-- Desktop -->
                        <source
                            media="(min-width: 1440px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest5_desk@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest5_desk@2x.jpg 2x"
                            type="image/jpg"
                            />
                        <!-- Tablet -->

                        <source  media="(min-width: 768px)"
                        srcset="./images/restaurante-page_img/restaurant-hero-img/rest5_tab@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest5_tab@2x.jpg 2x"
                            type="image/jpg" />

                            <!-- Mobile -->
                        <source  media="(max-width: 767px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest5_mob@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest5_mob@2x.jpg 2x"

                            type="image/jpg" />

                        <img
                        class="img-rest-hero"
                        src="./images/restaurante-page_img/restaurant-hero-img/rest5_mob@1x.jpg"
                        alt="restaurant-atmosphere"


                        loading="lazy">
                    </picture>
                </div>
                <div class="sixth-slide-rest box">
                    <picture>
                        <!-- Desktop -->
                        <source
                            media="(min-width: 1440px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest6_desk@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest6_desk@2x.jpg 2x"
                            type="image/jpg"
                            />
                        <!-- Tablet -->

                        <source  media="(min-width: 768px)"
                        srcset="./images/restaurante-page_img/restaurant-hero-img/rest6_tab@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest6_tab@2x.jpg 2x"
                            type="image/jpg" />

                            <!-- Mobile -->
                        <source  media="(max-width: 767px)"
                            srcset="./images/restaurante-page_img/restaurant-hero-img/rest6_mob@1x.jpg  1x, ./images/restaurante-page_img/restaurant-hero-img/rest6_mob@2x.jpg 2x"

                            type="image/jpg" />

                        <img
                        class="img-rest-hero"
                        src="./images/restaurante-page_img/restaurant-hero-img/rest6_mob@1x.jpg"
                        alt="restaurant-atmosphere"


                        loading="lazy">
                    </picture>
                </div>
            
            </div>   

        </div>
       
        <p class="restaurant-hero-text">Whether you're in the mood for a hearty breakfast, a light lunch, or <span class="italic">a romantic dinner</span>, our menu has something for everyone.</p>

    </div>
</section> 

