<!-- Section presentation-section -->
<section class="section my-container">
    <h2 hidden>experts in meat preparation</h2>
    <div class="container present">
        <img class="present-img-one" srcset="./images/restaurante-page_img/img1d_511.jpg 511w,
        ./images/restaurante-page_img/img1d_1022.jpg 1022w,
        ./images/restaurante-page_img/img1t_388.jpg 388w,
        ./images/restaurante-page_img/img1t_776.jpg 776w,
        ./images/restaurante-page_img/img1m_335.jpg 335w,
        ./images/restaurante-page_img/img1m_670.jpg 670w"
            sizes="(min-width: 1440px) 511px, (min-width: 768px) 388px, (min-width: 375px) 335px, 100vw"
            src="./images/restaurante-page_img/img1d_511.jpg" alt="The chef preparing food" />

        <div class="present-before">
            <div class="present-unite">
                <div class="present-one">
                    <img class="present-img-two" srcset="
                    ./images/restaurante-page_img/img2dm_334.jpg 334w,
                        ./images/restaurante-page_img/img2dm_668.jpg 668w,
                        ./images/restaurante-page_img/img2mm_158.jpg 158w,
                        ./images/restaurante-page_img/img2mm_316.jpg 316w,
                        ./images/restaurante-page_img/img2tm_284.jpg 284w,
                        ./images/restaurante-page_img/img2tm_568.jpg 568w"
                        sizes="(min-width: 1440px) 334px, (min-width: 768px) 284px, (min-width: 375px) 158px, 100vw"
                        src="./images/restaurante-page_img/img2dm_334.jpg" alt="Meat" width="334" height="389" />
                </div>
                <div class="present-two">
                    <img class="present-img-three" srcset="
                    ./images/restaurante-page_img/img3d_467.jpg 467w,
                    ./images/restaurante-page_img/img3d_934.jpg 934w,
                    ./images/restaurante-page_img/img3m_157.jpg 157w,
                    ./images/restaurante-page_img/img3m_314.jpg 314w,
                    ./images/restaurante-page_img/img3t_284.jpg 284w,
                    ./images/restaurante-page_img/img3t_568.jpg 568w"
                        sizes="(min-width: 1440px) 467px, (min-width: 768px) 284px, (min-width: 375px) 157px, 100vw"
                        src="./images/restaurante-page_img/img3d_467.jpg" alt="The cup with ice" width="467"
                        height="389" />
                </div>
            </div>

            <div class="present-text">
                <p class="present-text-one">At Mimino, we are experts in <span class="present-text-italic">meat
                        preparation.</span> Our chefs use only the finest and freshest ingredients
                    to <span class="present-text-italic">create delicious dishes</span> that showcase the flavors of
                    premium cuts of meat.</p>
                <p class="present-text-two">Our <span class="present-text-italic">slow-cooking process</span> and
                    expert
                    seasoning bring out the best in each dish, making for an
                    unforgettable dining experience. Come taste the magic of <span class="present-text-italic">meat
                        preparation</span> at Mimino.</p>
            </div>
        </div>
    </div>
</section>