/* Yuliya Solovenuk  */

/* section hotel hero */
.hotel-hero-section {
background-color: rgb(247, 247, 247);
overflow: hidden;
}

.hotel-hero-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.hotel-hero-title {
  margin-right: auto;
  margin-bottom: 24px;
  margin-top: 40px;

  font-weight: 400;
  font-size: 40px;
  line-height: 1;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: (var(--primary-black-color));
}

.hotel-hero-item:not(:last-child) {
  margin-right: 12px;
}


.hotel-hero-btn-wrapper {
  display: flex;
  justify-items: start;
  align-items: center;
  margin-bottom: 40px;
}

.button-white,
.button-white {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-slide {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.hotel-hero-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: (var(--primary-black-color));
}  

.hotel-hero-text-italic {
  font-style: italic;
}

/* --slider button prev-next-- */

.hero-swiper-btn-wrapper {

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;
}

.swiper-button-prev,
.swiper-button-next {
  width: 36px;
  height: 36px;
  display: block;
  background-color: transparent;
  
  border: none;
  color: rgba(18, 18, 18, 0.3);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-button-prev:hover,
.swiper-button-prev:focus,
.swiper-button-next:hover,
.swiper-button-next:focus {
  color: (var(--primary-black-color));
}



.icon-swiper-next,
.icon-swiper-prev {
  fill: none;
  stroke: currentColor;
} 


/* Phone screen to 767px */
@media screen and (max-width: 767px) {
  .swiper-slide {
    max-width: 250px;
    height: 429px;
  }

   .first-slide {
    background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel1_mob@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .first-slide {
      background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel1_mob@2x.jpg);
    }
  }

  .second-slide {
    background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel2_mob@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .second-slide {
      background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel2_mob@2x.jpg);
    }
  }

  .third-slide {
    background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel3_mob@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .third-slide {
      background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel3_mob@2x.jpg);
    }
  }
} 

@media screen and (max-width: 767px) {
  .hotel-hero-text {
   max-width: 335px;
   margin-top: 100px;
  }

}

/* Device form 768px */

@media screen and (min-width: 768px) {
    .first-slide {
    background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel1_tab@1x.jpg);

  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .first-slide {
      background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel1_tab@2x.jpg);
    }
  }

  .second-slide {
    background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel2_tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .second-slide {
      background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel2_tab@2x.jpg);
    }
  }

  .third-slide {
    background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel3_tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .third-slide {
      background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(../../images/hotel-page_img/hotel3_tab@2x.jpg);
    }
  }
}

@media screen and (min-width: 768px){
    .swiper-slide {
    max-width: 436px;
    height: 548px;
  }

  .hotel-hero-title {
      margin-bottom: 32px;
      font-size: 80px;
  }

  .hotel-hero-item:not(:last-child) {
    margin-right: 14px;
  }

  .hotel-hero-btn-wrapper {
    margin-bottom: 54px;
  }
  .hotel-hero-text {
    width: 338px;
    margin-top: 40px;
  }

}

/* Device form 1440px */

@media screen and (min-width: 1440px) {
    .first-slide {
    background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(./images/hotel-page_img/hotel1_desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
     .first-slide {
      background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(./images/hotel-page_img/hotel1_desk@2x.jpg);
    }
  }
  
  .second-slide {
    background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(./images/hotel-page_img/hotel2_desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .second-slide {
      background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(./images/hotel-page_img/hotel2_desk@2x.jpg);
    }
  }

  .third-slide {
    background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(./images/hotel-page_img/hotel3_desk@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .third-slide {
      background-image: linear-gradient(0deg, rgba(18, 18, 18, 0.2), rgba(18, 18, 18, 0.2)), url(./images/hotel-page_img/hotel3_desk@2x.jpg);
    }
  }
}

@media screen and (min-width: 1440px) {
    .swiper-slide {
    max-width: 436px;
    height: 580px;
  }

  .hotel-hero-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }

 .hotel-hero-title {
    margin-top: 174px;
    font-size: 90px;
  } 

  .hotel-hero-btn-wrapper {
    margin-bottom: 204px;
  }
  
  .hotel-hero-text {
    margin-bottom: 18px;
    margin-top: 0;
  }  
}


   

