/**
  |============================
  | Section RESTAURANT MENU
  |============================
*/


/* @media screen and (max-width: 374.98px){
   
  }

  @media screen and (min-width: 375px){
    
  }

  @media screen and (min-width: 768px){
    
  }

  @media screen and (min-width: 1440px){
    
  } */



.fon {
    background-color: var(--primary-black-color);
  }


@media screen and (max-width: 374.98px){
   .my-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  }

  @media screen and (min-width: 375px){
    .my-container {
    padding-top: 40px;
    padding-bottom: 64px;
  }
  }

  @media screen and (min-width: 768px){
    .my-container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  }

  @media screen and (min-width: 1440px){
    .my-container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  }

  
/* H2 */
@media screen and (max-width: 374.98px){
   .price-title {
    text-align: center;
    font-size: 32px;
    line-height: var(--28px);
    color: var(--primary-white-color);
  }
}

  @media screen and (min-width: 375px){
    .price-title {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: var(--28px);
    color: var(--primary-white-color);
      }
  }

  @media screen and (min-width: 768px){
    .price-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: var(--40px);
    color: var(--primary-white-color);
  }
  }

  @media screen and (min-width: 1440px){
    .price-title {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: var(--40px);
    color: var(--primary-white-color);
  }
  }

  

  @media screen and (max-width: 1439px){
    .price-block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 74px 50px;
    }
  }

  @media screen and (min-width: 1440px){
  .price-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 74px 50px;
    padding: 100px 136px 50px 136px;
  }
}
  
 @media screen and (max-width: 374.98px){
     
  .price-list {
    width: 335px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  }

  @media screen and (min-width: 375px){ 
  .price-list {
    width: 335px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  }

  @media screen and (min-width: 768px){
  .price-list {
    width: 515px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  }

  @media screen and (min-width: 1440px){  
  .price-list {
    width: 515px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  }

  
  .price-item {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* outline: 2px solid rgb(51, 21, 223); */
  }
  
  @media screen and (min-width: 375px){
    .price-weight {
      font-weight: 400;
      font-size: 12px;
      line-height: var(--14px);
      color: var(--secondary-white-color);
    }

    .price-title-min {
      margin-right: auto;
      margin-bottom: 32px;
      font-style: italic;
      font-weight: 500;
      font-size: 18px;
      line-height: var(--20px);
      color: var(--primary-white-color);
    }
    .price-price {
      font-weight: 700;
      font-size: 16px;
      line-height: var(--18px);
      margin-bottom: 0;
      margin-top: 8px;
      color: var(--primary-white-color);
    }

    .price-item-p {
      width: 320px;
      font-weight: 400;
      font-size: 10px;
      line-height: var(--10px);
      letter-spacing: 0.18em;
      color: var(--secondary-white-color);
    }
  }

  @media screen and (min-width: 768px){
  .price-weight {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: var(--18px);
    color: var(--secondary-white-color);
  }

  .price-title-min {
    margin-right: auto;
    margin-bottom: 32px;
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: var(--24px);
    color: var(--primary-white-color);
  }

  .price-price {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: var(--24px);
    margin-bottom: 0;
    margin-top: 8px;
    color: var(--primary-white-color);
  }

  .price-item-p {
    width: 325px;
    font-weight: 400;
    font-size: 12px;
    line-height: var(--12px);
    letter-spacing: 0.18em;
    color: var(--secondary-white-color);
  }
}
 
  .price-name-dish {
    font-weight: 500;
    font-size: 18px;
    line-height: var(--18px);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-white-color);
  }
  
  .price-name-dish::before {
    content: '';
    width: 5px;
    height: 5px;
    margin-left: 10px;
    margin-right: 15px;
    border-radius: 50%;
    background-color: var(--primary-white-color);
  }
  
  
  .price-add {
    width: 345px;
  }
  
  .price-height {
    height: 18px;
  }
  
  .price-item-second {
    display: flex;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-grey);
    border-bottom-style: solid;
    margin-bottom: 14px;
    margin-top: 0;
  }
  
  .price-item-third {
    display: flex;
    justify-content: space-between;
    border-bottom-width: 1px;
    border-bottom-color: var(--border-grey);
    border-bottom-style: solid;
    margin-bottom: 14px;
    margin-top: 0px;
    /* outline: 2px solid tomato; */
  }
  
  .price-margin {
    margin-bottom: 14px;
  }
  
  /* контейнер для 4 и 5 блока */
  .price-list-last {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 22px;
    /* outline: 2px solid rgb(61, 212, 16); */
  }

  @media screen and (max-width: 374.98px){
    .mybutton {
    margin-left: auto;
    margin-right: auto;
  }
  }

  @media screen and (min-width: 375px){
     .mybutton {
    margin-left: auto;
    margin-right: auto;
  }
  }

  @media screen and (min-width: 768px){
     .mybutton {
   margin-left: 94px;
    
  }
  }

  @media screen and (min-width: 1440px){
     .mybutton {
    margin-left: 137px;
  }
  }
 

/* отмена слайдера на десктопе */
.project_slider_overlay {
  display: none;
}

.project_blocks_overlay {
  display: block;
}

@media screen and (max-width: 1440px) {
  .project_slider_overlay {
    display: block;
    /* outline: 5px solid orange; */
  }

  .project_blocks_overlay {
    display: none;
  }
}