<div class="backdrop">
    <div class="modal-box">
        <form name="booking-form">
         <strong>book a room</strong>
            <label>
                <input type="text" name="username" placeholder="Your name">
                <span>Who should book a table for?</span>
            </label>
            
            <label>    
                <input type="tel" name="phone_number" placeholder="+38()"/>
                <span>Phone number</span>
            </label>
            
            <label>
                <input type="date" name="check-in" value="" placeholder="today">
                <svg class="" width="20" height="20"><use href="../../images/icons/sprite.svg#icon-down"></use></svg>
                <span>Check-in date</span>  
            </label>
             
            </label>
            <label>
                <input type="date" name="check-out" value="2023-04-25">
                <svg class="" width="20" height="20"><use href="../../images/icons/sprite.svg#icon-down"></use></svg>
                <span>Check-out date</span>
            </label>
            <label>
                <select name="" >
                    <option value="">Double suite</option>
                    <option value="">Triple Room</option>
                    <option value="">four-seater room</option>
                </select>
                <svg class="" width="20" height="20"><use href="../../images/icons/sprite.svg#icon-down"></use></svg>
                <span>Number category</span>
            </label>
            <button class="button button-black">MAKE A RESERVATION</button>



 
        </form>

    </div>
</div>