




    <div class="modal-box  modal modal-room" data-modal="2">

        <button class="modal-close-room js-modal-close" type="button" >
            <svg class="icon-close" width="28" height="28"><use href="../../images/icons/sprite.svg#icon-modal-close"></use></svg>
        </button>
        <form name="booking-form">
         <strong class="book-title italic">book a room</strong>
         <div class="modal-wrap">
            <label class="input">
                <input class="text-input" type="text" name="username" placeholder="Your name" pattern="[a-zA-Z]{3,16}">
                <span class="text-after">Who should book a table for?</span>
            </label>
            
            <label class="input">    
                <input class="text-input" type="tel" name="phone_number" placeholder="+38()"/>
                <span class="text-after">Phone number</span>
            </label>
            
            <label class="input">
                <input class="text-input check-in" type="date" name="check-in" value="TODAY">
                <span class="text-after">Check-in date</span>  
            </label>
             
            </label>
            <label class="input">
                <input class="text-input" type="date" name="check-out" value="2023-04-25">
                <span class="text-after">Check-out date</span>
            </label>
            <label class="input">
                <select class="text-input select" name="variables" >
                    <option value="">Double suite</option>
                    <option value="">Triple Room</option>
                    <option value="">four-seater room</option>
                </select>
                <span class="text-after">Number category</span>
            </label>
            </div>
            <button class="button button-black center" type="submit">MAKE A RESERVATION</button>



 
        </form>

    </div>
    <div class="backdrop-room overlay"></div>


