<div class="backdrop is-hidden">
      <div class="modal" data-modal>
        <button class="close-button" data-modal-close>
          <svg class="close-icon" width="28" height="28">
            <use href="/images/icons/sprite.svg#icon-modal-close"></use>
          </svg>
        </button>
          <form class="book-a-table-form">
            <h2 class="book-a-table-title">BOOK 
              <span class="italick">A TABLE</span></h2>
            
            <lable class="name-lable">
              <span class="user-name-form current">
                <input class="modal-form-input" name="user_name" type="text" pattern="[a-zA-Z]+$" minlength="2" placeholder="Your name">
              </span>
                <p class="modal-hint">Who should book a table for?</p>
              </lable>
              
            <lable class="number-lable">
              <span class="number-form current">
                <select class="modal-form-input" name="number_of_people" type="tel" pattern="[0-1]">
                  <option value="number of people">number of people</option>
                  </select>
              </span>
            </lable>

            
            <lable class="date-lable">
              <span class="date-form current">
                <select class="modal-form-input" name="date" type="text">
                  <option value="number of people">today</option>
                  <option value="number of people">tomorrow</option>
                </select>
              </span>
              <p class="modal-hint">What date to book?</p>
            </lable>

            <lable class="phon-number-lable">
              <span class="phone-number-form current">
                <input class="modal-form-input" name="user_namber" type="tel" placeholder="+ 38 () ">
              </span>
              <p class="modal-hint">Phone number</p>
              </lable>
              
            <div class="text-align"><button class="button button-black  button-black-modal" type="submit">MAKE A RESERVATION</button></div>
          </form>
      </div>
    </div>

    