<div class="backdrop" data-modal>
      <div class="modal is-hidden">
        <button class="data-modal-close">
          <svg class width="28" height="28">
            <use href="./images/icons/sprite.svg#modal_close"></use>
          </svg>
        </button>
          <form class="book-a-table-form">
            <h2 class="book-a-table-title">BOOK A TABLE</h2>
            
            <lable class="">
              <span class="user-name-form">
                <input name="user_name" type="text" pattern="[a-zA-Z]+$" minlength="2" placeholder="Your name">
              </span>
                <p class="modal-hint">Who should book a table for?</p>
              </lable>
              
            <lable class="">
              <span class="number-form">
                <input name="number_of_people" type="number" placeholder="number of people" pattern="[0-1]"> 
              </span>
            </lable>

            
            <lable class="">
              <span class="date-form">
                <input name="date" type="number" placeholder="Today" pattern="What date to book?"> 
              </span>
              <p class="modal-hint">What date to book?</p>
            </lable>

            <lable class="">
              <span class="phone-number-form">
                <input name="user_namber" type="tel" placeholder="+ 38 () ">
              </span>
              <p class="modal-hint">Phone number</p>
              </lable>
              
            <button class="button button-black" type="submit">MAKE A RESERVATION</button>
          </form>
      </div>
    </div>

    