<div class="menu-container js-menu-container" id="mobile-menu">
<div class="mobile-menu-header">
    
    <button class="menu-toggle js-close-menu">
    <svg class="mobile-icon-close">
      <use href="../../images/icons/sprite.svg#icon-icon-menu-cl"></use>
    </svg>
    </button>
   <div class="logo-section">
   <strong class="header-title">
    mimino
     </strong>
      <p class="header-text">restaurant-hotel complex</p>
    </div>

      <nav class="header-tablet-social">
    <ul class="header-tablet-list">
        <li class="social-media-item top">
        <a class="social-media-link" href="">
            <svg class="social-icon-mob" width="24" height="24">
              <use href="../../images/icons/sprite.svg#icon-instagram"></use>
            </svg>
        </a>
    </li>

     <li class="social-media-item top">
        <a class="social-media-link" href="">
            <svg class="social-icon-mob" width="24" height="24">
              <use href="../../images/icons/sprite.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>

     <li class="social-media-item top">
        <a class="social-media-link" href="">
            <svg class="social-icon-mob" width="24" height="24">
              <use href="../../images/icons/sprite.svg#icon-twitter"></use>
            </svg>
        </a>
    </li>

    </ul>
    </nav>
    
</div>

<div class="menu-main-container">
<nav class="mobile-nav">
    <ul class="mobile-list">
    <li class="mobile-link-item"><a class="link-mobile" href="../../index.html">home</a></li>
    <li class="mobile-link-item"><a class="link-mobile" href="../../hotel.html">hotel</a></li>
    <li class="mobile-link-item"><a class="link-mobile" href="../../restaurant.html">restaurant</a></li>
  </ul>
  </nav>

<ul class="social-media-mobile">
    <li class="social-media-item mob">
        <a class="social-media-link" href="">
            <svg class="social-icon-mob" width="20" height="20">
              <use href="../../images/icons/sprite.svg#icon-instagram"></use>
            </svg>
        </a>
    </li>
    <li class="social-media-item mob">
        <a  class="social-media-link" href="">
            <svg class="social-icon-mob" width="20" height="20">
              <use href="../../images/icons/sprite.svg#icon-facebook"></use>
            </svg>
        </a>
    </li>
    <li class="social-media-item mob">
        <a class="social-media-link" href="">
            <svg class="social-icon-mob" width="20" height="20">
              <use href="../../images/icons/sprite.svg#icon-twitter"></use>
            </svg>
        </a>
    </li>
</ul>


</div>

</div>