<div class="container">
    <h1>Modal</h1>

    <button id="open-modal-btn">window</button>
</div>

<div class="modal" id="my-modal">
    <div class="modal__box">
        <button class="modal__close-btn" id="close-my-modal-btn">
            <svg class="svg_icon" width="16" height="16">
                <use href="./svg/symbol-defs.svg#icon-Vector-1"></use>
            </svg>
        </button>
        <div class="menu_text">
            <h1>MIMINO</h1>
            <p class="menu_textp">restaurant-hotel complex</p>
        </div>

        <div class="menu_links">
            <ul class="menu_list">
                <li>
                    <a class="modal_links" href="https://www.instagram.com/" aria-label="Instagram"
                        rel="noopener noreferrer" target="_blank">
                        <svg class="order-form-icon" width="24" height="24">
                            <use href="./svg/symbol-defs.svg#icon-instagram-2"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="modal_links" href="https://www.twitter.com/" aria-label="Twitter"
                        rel="noopener noreferrer" target="_blank">
                        <svg class="order-form-icon" width="24" height="24">
                            <use href="./svg/symbol-defs.svg#icon-twitter-1"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="modal_links" href="https://www.facebook.com/" aria-label="Facebook"
                        rel="noopener noreferrer" target="_blank">
                        <svg class="order-form-icon" width="24" height="24">
                            <use href="./svg/symbol-defs.svg#icon-Vector"></use>
                        </svg>
                    </a>
                </li>
            </ul>

        </div>
        <div class="page_menu">
            <a href="">
                <h1> Home </h1>
            </a>

            <a href="">
                <h2> Hotel</h2>
            </a>


            <a href="">
                <h3>
                    Restaurant</h3>
            </a>


        </div>
    </div>
</div>

</svg>
