


    <div class="modal-price modal" data-modal="3">
       <button class="modal-close js-modal-close">
         <svg class width="28" height="28">
           <use href="./images/icons/sprite.svg#icon-modal-close"></use></svg>
         </button>
           <form class="price-form">
             <h2 class="price-title">PRICE PER 
               <span class="italick">ROOM</span></h2>
             <p class="room-name">Double suite</p>
             <div class="forms">
               <div class="form-1">                 
                 <lable class="number-lable">
                   <span class="number-form current">
                     <select class="modal-form-input" name="number_of_night" type="tel" pattern="[0-1]">
                       <option value="number of nights" selected>1</option>
                       <option value="number of nights">2</option>
                       <option value="number of nights">3</option>
                       <option value="number of nights">4</option>
                       <option value="number of nights">5</option>
                     </select>
                     <p class="modal-hint">Number of nights</p>
                   </span>
                 </lable>
                 <lable class="price">
                   <span class="price-form current">
                     <input class="modal-form-input chek-in" name="check-in-price" type="number" value="1000">
                   </span>
                     <p class="modal-hint">UAH</p>
                   </lable>
               </div>
             </div>
             <button class="button button-black  button-black-modal" type="submit">MAKE A RESERVATION</button>
           </form>
       </div>
       <div class="overlay js-overlay-modal"></div>
     
 
     