<!-- <div class="slider margin">

    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div> -->

<!-- <div class="slider-1 margin">

    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
</div> -->

<!-- <div class="slider-2">
    <div class="box-2"></div>
    <div class="box-2"></div>
</div> -->

<!-- <div class="swiper-button-prev">
                <svg class="icon-sl icon-slider-prev" width="36" height="36">
                    <use href="../../images/icons/sprite.svg#icon-button-l"></use>
                </svg>
            </div>
            <div class="swiper-button-next">
                 <svg class="icon-sl icon-slider-next" width="36" height="36">
                    <use href="../../images/icons/sprite.svg#btn-next-slide"></use>
                </svg>
            </div> -->