<div class="slider margin">

    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
</div>

<div class="slider-1 margin">

    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
    <div class="box-1"></div>
</div>

<div class="slider-2">
    <div class="box-2"></div>
    <div class="box-2"></div>
</div>