
@media screen and (max-width: 767px){
.room-hero-section{
    padding-top: 40px;
    padding-bottom: 64px;
}
}


@media screen and (min-width: 768px) and (max-width:1439px) {
    .room-hero-section{ 
        padding-bottom: 120px;
    }
}



.room-hero-title{
    display: inline-block;
margin-bottom: 24px;


font-weight: 400;
font-size: 40px;
line-height: calc(40 / 40);
color: var(--primary-black-color);
}

@media screen and (min-width: 768px) {
    .room-hero-title{
        margin-bottom: 18px;
        font-size: 60px;
        line-height: calc(60 / 60);
    }
}

@media screen and (min-width: 1440px) {
    .room-hero-title{
        margin-top: 169px;
         margin-bottom: 32px;
         font-size: 80px;
         line-height: var(--80px);
    }
}


.room-hero-section .button-white{
margin-bottom: 40px;

    line-height: var(--14px);
}

@media screen and (min-width: 768px){
    .room-hero-section .button-white{
        margin-bottom: 28px;

        line-height: calc(24 / 14)
    }
}

@media screen and (min-width: 1440px){
    .room-hero-section .button-white{
        margin-bottom: 169px;

        font-size: 18px;
        line-height: var(--18px);
    }
}






.room-hero-section .slider-wraper{
    margin-bottom: 100px;
}

@media screen and (min-width: 768px){
    .room-hero-section .slider-wraper{
        margin-bottom: 40px;
    }
}


.room-hero-text{
width: 301px;

    font-weight: 400;
font-size: 14px;
line-height: var(--14px);
letter-spacing: 0.05em;

}

@media screen and (min-width: 1440px){
    .room-hero-text{
        margin-bottom: 48px;
    }
}






