body{
    background-color: var(--primery-bg-color);
  }

 

  .section{
   padding-left: 20px;
   padding-right: 20px;
  }

  .container{
      width: 100vw;
      margin-left: auto;
      margin-right: auto;

       /* outline: 2px solid red; */
  }

 