:root {
    /* MAIN COLORS */
    --primary-black-color: rgba(18, 18, 18, 1);
    --primary-white-color: rgba(246, 246, 246, 1);

    --border-white: rgba(18, 18, 18, 0.3);
    --border-black: rgba(246, 246, 246, 0.2);
    /* --border-grey: rgba(255, 255, 255, 0.5); */
    /* FONT */
    --primery-font: 'DM Sans', sans-serif;

}


