<!-- Yuliya Solovenuk -->

<!-- section hotel hero -->
<section class="hotel-hero section">

    <div class="hotel-hero-container container">
        <h1 class="hotel-hero-title">hotel</h1>
        <div class="hotel-hero-btn-wrapper">
            <button class="hotel-hero-btn button" type="button">book a room</button>
            <button class="hotel-hero-btn button" type="button">View prices</button>
        </div>

         <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">Slide 1
                <!-- <img
                class="team-avatar"
                srcset="../images/hotel-slide/
                 1x, ./images//x/img1_lg-@2x.jpg 2x"
                src="./images//x/img1_lg-@1x.jpg"
                alt="hotel1"
                width="250px"
                height="429px"
                loading="lazy"
                /> -->
            </div>
            <div class="swiper-slide">Slide 2
            </div>
            
            <div class="swiper-slide">Slide 3
            </div>
            ...
            </div>
            <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div> -->

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev">
                <svg class="icon-swiper-prev">
                    <use href="../images\icons/sprite.svg/#btn-prev-slide"></use>
                </svg>
            </div>
            <div class="swiper-button-next">
                 <svg class="icon-swiper-next">
                    <use href="../images\icons/sprite.svg/#btn-next-slide"></use>
                </svg>
            </div>

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->

        <p class="hotel-hero-text">Whether you're in the mood for a hearty breakfast, a light lunch, or a romantic dinner, our menu has something for everyone.</p>
    </div>

</section>