<!-- Yuliya Solovenuk -->

<!-- section hotel hero -->
<section class="hotel-hero-section section">
    
    <div class="hotel-hero-container container">
            
        <h1 class="hotel-hero-title">hotel</h1>
        <ul class="hotel-hero-btn-wrapper">
            <li class="hotel-hero-item list">
            <button class="hotel-hero-btn button button-white" type="button" data-modal-open>book a room</button>
            </li>
            <li class="hotel-hero-item list"></li>
                <button class="hotel-hero-btn button button-white" type="button" data-modal-open>View prices</button>
            </li>
        </ul>

        <!-- Slider main container -->
    
        <div class="hero-wraper">

            <div class="slider">

                <!-- Slides -->
                <div class="first-slide box">
                </div>
                <div class="second-slide box">
                </div>
                <div class="third-slide box">
                </div>
            
            </div>

        </div>

        <!-- navigation buttons -->
        
            <!-- <div class="hero-swiper-btn-wrapper">
            
                <button class="swiper-button-prev">
                    <svg class="icon-swiper-prev"  width="36" height="36">
                        <use href="./images/icons/sprite.svg#btn-prev-slide"></use>
                    </svg>
                </button>
            
                <button class="swiper-button-next">
                    <svg class="icon-swiper-next"  width="36" height="36">
                        <use href="./images/icons/sprite.svg#btn-next-slide"></use>
                    </svg>
                </button>
                
            </div> -->
        
    
        <p class="hotel-hero-text">Whether you're in the mood for a hearty breakfast, a light lunch, or <span class="hotel-hero-text-italic">a romantic dinner</span>, our menu has something for everyone.</p>

    </div>

    
</section>