<!-- DOUBLE LUXURY ROOM -->
<section class="section section-margin">
  <div class="container">
    <ul class="ul-imj">
      <li class="li-img-room-luxury">
        <picture>
          <source type="image/jpg" media="(min-width: 1440px)" srcset="
              ./images/hotel-page_img/desctop/bed-room-luxery-desctop.jpg   1x,
              ./images/hotel-page_img/desctop/bed-room-luxery-desctop2x.jpg 2x
            ">
          <source type="image/jpg" media="(min-width: 768px)" srcset="
              ./images/hotel-page_img/tablet/bed-room-luxery-tabl.jpg   1x,
              ./images/hotel-page_img/tablet/bed-room-luxery-tabl2x.jpg 2x
            ">
          <source type="image/jpg" media="(max-width: 767px)" srcset="
              ./images/hotel-page_img/mobail/bed-room-luxery-mobile.jpg   1x,
              ./images/hotel-page_img/mobail/bed-room-luxery-mobile2x.jpg 2x
            ">

          <img class="bed-luxery" src="./images/mobail/bed-room-desktop.jpg" alt="bed-room"></picture>
      </li>
      <li class="li-img-room-luxury margin-mobil">
        <picture>
          <source type="image/jpg" media="(min-width: 1440px)" srcset="
              ./images/hotel-page_img/desctop/bathroom-desctop-luxeri.jpg   1x,
              ./images/hotel-page_img/desctop/bathroom-desctop-luxeri2x.jpg 2x
            ">
          <source type="image/jpg" media="(min-width: 768px)" srcset="
              ./images/hotel-page_img/tablet/bathroom-tabl-luxeri.jpg   1x,
              ./images/hotel-page_img/tablet/bathroom-tabl-luxeri2x.jpg 2x
            ">
          <source type="image/jpg" media="(max-width: 767px)" srcset="
              ./images/hotel-page_img/mobail/bathroom-mobil-luxeri.jpg     1x,
              ./images/hotel-page_img/mobail/bathroom-mobil-luxeri2x.jpg2x
            ">

          <img class="bathroom-luxery" src="./images/mobail/bathroom.jpg" alt="bathroom"></picture>
      </li>

      <li class="li-img-room-luxury margin-mobil">
        <picture>
          <source type="image/jpg" media="(min-width: 1440px)" srcset="
              ./images/hotel-page_img/desctop/kutchen-desctop-luxery.jpg   1x,
              ./images/hotel-page_img/desctop/kutchen-desctop-luxery2x.jpg 2x
            ">
          <source type="image/jpg" media="(min-width: 768px)" srcset="
              ./images/hotel-page_img/tablet/kutchen-tabl-luxery.jpg   1x,
              ./images/hotel-page_img/tablet/kutchen-tabl-luxery2x.jpg 2x
            ">
          <source type="image/jpg" media="(max-width: 767px)" srcset="
              ./images/hotel-page_img/mobail/kutchen-mobil-luxery.jpg   1x,
              ./images/hotel-page_img/mobail/kutchen-mobil-luxery2x.jpg 2x
            ">

          <img class="kutchen-luxery" src="./images/desctop/kutchen-luxery-desctopp.jpg" alt="kutchen"></picture>
      </li>
    </ul>
    <div class="text-button">
      <div class="description">
        <h3 class="h-general">DOUBLE LUXURY ROOM</h3>
        <ul class="ul-text-luxery">
          <li>
            <p class="li-text-luxery">
              Experience luxury in our Double Luxury Room at Mimino Hotel. This
              spacious room features a comfortable bed, private bathroom,
              flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
              curtains, and soundproofing ensure a peaceful night's sleep.
            </p>
          </li>
          <li class="li-text-second">
            <p>
              Relax after a busy day at the writing desk or armchair. Book now
              for a convenient and comfortable stay.
            </p>
          </li>
        </ul>
      </div>
      <ul class="ul-buton-all flex-end">
        <li>
        <a href="room.html"><button class="button button-white">More details</button></a>
        </li>
        <li class="">
          <a href="#" class=" js-open-modal" data-modal="3"><button class="button button-white" type="button">View prices</button></a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- TRIPLE-ROOM -->
<section class="section section-margin">
  <div class="container">
    <ul class="ul-imj">
      <li class="li-bed-triple">
        <picture>
          <source type="image/jpg" media="(min-width: 1200px)" srcset="
              ./images/hotel-page_img/desctop/bed-room-triple-desctop.jpg   1x,
              ./images/hotel-page_img/desctop/bed-room-triple-desctop2x.jpg 2x
            ">
          <source type="image/jpg" media="(min-width: 768px)" srcset="
              ./images/hotel-page_img/tablet/bed-room-triple-tabl.jpg   1x,
              ./images/hotel-page_img/tablet/bed-room-triple-tabl2x.jpg 2x
            ">
          <source type="image/jpg" media="(max-width: 767px)" srcset="
              ./images/hotel-page_img/mobail/bed-room-triple-mobil.jpg   1x,
              ./images/hotel-page_img/mobail/bed-room-triple-mobil2x.jpg 2x
            ">

          <img class="imj-bed-triple" src="./images/mobail/bed-room-triple.jpg" alt="room"></picture>
      </li>

      <li class="li-bethroom-triple margin-mobil">
        <picture>
          <source type="image/jpg" media="(min-width: 1200px)" srcset="
              ./images/hotel-page_img/desctop/bethroom-triple-desctop.jpg   1x,
              ./images/hotel-page_img/desctop/bethroom-triple-desctop2x.jpg 2x
            ">
          <source type="image/jpg" media="(min-width: 768px)" srcset="
              ./images/hotel-page_img/tablet/bethroom-triple-tabl.jpg    1x,
              ./images/hotel-page_img/tablet/bethroom-triple-tabl@2x.jpg 2x
            ">
          <source type="image/jpg" media="(max-width: 767px)" srcset="
              ./images/hotel-page_img/mobail/bethroom-triple-mobil.jpg   1x,
              ./images/hotel-page_img/mobail/bethroom-triple-mobil2x.jpg 2x
            ">

          <img class="imj-bethroom-triple" src="./images/mobail/bethroom-triple.jpg" alt="bethroom"></picture>
      </li>

      <li class="li-kutchen-triple margin-mobil">
        <picture>
          <source type="image/jpg" media="(min-width: 1200px)" srcset="
              ./images/hotel-page_img/desctop/kutchen-triple-desctop.jpg   1x,
              ./images/hotel-page_img/desctop/kutchen-triple-desctop2x.jpg 2x
            ">
          <source type="image/jpg" media="(min-width: 768px)" srcset="
              ./images/hotel-page_img/tablet/kutchen-triple-tabl.jpg   1x,
              ./images/hotel-page_img/tablet/kutchen-triple-tabl2x.jpg 2x
            ">
          <source type="image/jpg" media="(max-width: 767px)" srcset="
              ./images/hotel-page_img/mobail/kutchen-triple-mobil.jpg   1x,
              ./images/hotel-page_img/mobail/kutchen-triple-mobil2x.jpg 2x
            ">

          <img class="imj-kutchen-triple" src="./images/mobail/kutchen-triple.jpg" alt="kutchen"></picture>
      </li>
    </ul>
    <div class="text-button revers">
      <div class="description">
        <h3 class="h-general">Triple Room</h3>
        <ul class="ul-text-luxery">
          <li>
            <p class="li-text-luxery">
              Escape to our spacious Triple Room, perfect for families or
              groups. Enjoy comfort with three beds, seating area, stunning
              views, flat-screen TVs, Wi-Fi, and mini-fridge.
            </p>
          </li>
          <li class="li-text-second">
            <p>
              Rejuvenate in the en-suite bathroom with plush towels and
              toiletries. Book now for a memorable stay.
            </p>
          </li>
        </ul>
      </div>
      <ul class="ul-buton-all">
        <li class="li-buton-triple">
          <a href="#"><button class="button button-white">More details</button></a>
        </li>
        <li>
          <a href="#" class=" js-open-modal" data-modal="3"><button class="button button-white" type="button">View prices</button></a>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- FOUR-STEATER-ROOM -->
<section class="section section-margin">
  <div class="container">
    <ul class="ul-imj">
      <li class="li-bed-steater">
        <picture>
          <source type="image/jpg" media="(min-width: 1200px)" srcset="
              ./images/hotel-page_img/desctop/room-four-steater-desctop.jpg   1x,
              ./images/hotel-page_img/desctop/room-four-steater-desctop2x.jpg 2x
            ">
          <source type="image/jpg" media="(min-width: 768px)" srcset="
              ./images/hotel-page_img/tablet/room-four-steater-tabl.jpg   1x,
              ./images/hotel-page_img/tablet/room-four-steater-tabl2x.jpg 2x
            ">
          <source type="image/jpg" media="(max-width: 767px)" srcset="
              ./images/hotel-page_img/mobail/room-four-steater-mobile.jpg   1x,
              ./images/hotel-page_img/mobail/room-four-steater-mobile2x.jpg 2x
            ">

          <img class="imj-bed-steater" src="./images/mobail/room-four-steater.jpg" alt="room"></picture>
      </li>
      <li class="li-bethroom-steater margin-mobil">
        <picture>
          <source type="image/jpg" media="(min-width: 1200px)" srcset="
              ./images/hotel-page_img/desctop/bathroom-four-steater-desctop.jpg   1x,
              ./images/hotel-page_img/desctop/bathroom-four-steater-desctop2x.jpg 2x
            ">
          <source type="image/jpg" media="(min-width: 768px)" srcset="
              ./images/hotel-page_img/tablet/bathroom-four-steater-tabl.jpg   1x,
              ./images/hotel-page_img/tablet/bathroom-four-steater-tabl2x.jpg 2x
            ">
          <source type="image/jpg" media="(max-width: 767px)" srcset="
              ./images/hotel-page_img/mobail/bathroom-four-steater-mobile.jpg   1x,
              ./images/hotel-page_img/mobail/bathroom-four-steater-mobile2x.jpg 2x
            ">
          <img class="imj-bethroom-steater" src="./images/mobail/bathroom-four-steater.jpg" alt="bethroom"></picture>
      </li>
      <li class="li-kutchen-steater margin-mobil">
        <picture>
          <source type="image/jpg" media="(min-width: 1200px)" srcset="
              ./images/hotel-page_img/desctop/kutchen-for-steater-desctop.jpg   1x,
              ./images/hotel-page_img/desctop/kutchen-for-steater-desctop2x.jpg 2x
            ">
          <source type="image/jpg" media="(min-width: 768px)" srcset="
              ./images/hotel-page_img/tablet/kutchen-for-steater-tabl.jpg   1x,
              ./images/hotel-page_img/tablet/kutchen-for-steater-tabl2x.jpg 2x
            ">
          <source type="image/jpg" media="(max-width: 767px)" srcset="
              ./images/hotel-page_img/mobail/kutchen-for-steater-mobile.jpg   1x,
              ./images/hotel-page_img/mobail/kutchen-for-steater-mobile2x.jpg 2x
            ">
          <img class="imj-kutchen-steater" src="./images/mobail/kutchen-for-steater.jpg" alt="kutchen"></picture>
      </li>
    </ul>
    <div class="text-button">
      <div class="description">
        <h3 class="h-general">four-seater room</h3>

        <p class="li-text-luxery div-p-steater">
          Our 4-person room is perfect for small groups, offering comfort and
          convenience with 4 comfortable beds, ample storage, flat-screen TV,
          mini-fridge, coffee maker, desk and chair, air-conditioning, heating,
          and soundproof walls. Book now for a memorable stay.
        </p>
      </div>
      <ul class="ul-buton-all flex-end">
        <li>
          <a href=""><button class="button button-white">More details</button></a>
        </li>
        <li>
          <button class="button button-white js-open-modal" data-modal="3">View prices</button>
        </li>
      </ul>
    </div>
  </div>
</section>
