<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home work-1</title>
    <link rel="stylesheet" href="./css/stail.css" />
  </head>

  <body>
    <!-- DOUBLE LUXURY ROOM -->
    <section>
      <div class="container">
        <ul class="ul-imj">
          <li class="li-img-room-luxury">
            <img
              class="bed-luxery"
              src="./images/mobail/bed-room-desktop.jpg"
              alt="bed-room"
            />
          </li>
          <li class="li-img-room-luxury margin-mobil">
            <img
              class="bathroom-luxery"
              src="./images/mobail/bathroom.jpg"
              alt="bathroom"
            />
          </li>
          <li class="li-img-room-luxury margin-mobil">
            <img
              class="kutchen-luxery"
              src="./images/desctop/kutchen-luxery-desctopp.jpg"
              alt="kutchen"
            />
          </li>
        </ul>
        <h3 class="h-general">DOUBLE LUXURY ROOM</h3>
        <ul class="ul-text-luxery">
          <li>
            <p>
              Experience luxury in our Double Luxury Room at Mimino Hotel. This
              spacious room features a comfortable bed, private bathroom,
              flat-screen TV, and high-speed Wi-Fi. Climate control, blackout
              curtains, and soundproofing ensure a peaceful night's sleep.
            </p>
          </li>
          <li class="li-text-luxery">
            <p>
              Relax after a busy day at the writing desk or armchair. Book now
              for a convenient and comfortable stay.
            </p>
          </li>
        </ul>
        <ul class="ul-buton-all">
          <li class="li-buton">
            <a href=""><button class="buton">More details</button></a>
          </li>
          <li class="li-buton but">
            <button class="buton" type="button">View prices</button>
          </li>
        </ul>
      </div>
    </section>
    <!-- TRIPLE-ROOM -->
    <section class="section-tripl">
      <div class="container">
        <ul class="ul-imj">
          <li class="li-bed-triple">
            <img
              class="imj-bed-triple"
              src="./images/mobail/bed-room-triple.jpg"
              alt="room"
            />
          </li>
          <li class="li-bethroom-triple margin-mobil">
            <img
              class="imj-bethroom-triple"
              src="./images/mobail/bethroom-triple.jpg"
              alt="bethroom"
            />
          </li>
          <li class="li-kutchen-triple margin-mobil">
            <img
              class="imj-kutchen-triple"
              src="./images/mobail/kutchen-triple.jpg"
              alt="kutchen"
            />
          </li>
        </ul>
        <h3 class="h-general">Triple Room</h3>
        <ul class="ul-text-triple">
          <li>
            <p>
              Escape to our spacious Triple Room, perfect for families or
              groups. Enjoy comfort with three beds, seating area, stunning
              views, flat-screen TVs, Wi-Fi, and mini-fridge.
            </p>
          </li>
          <li class="li-text-triple">
            <p>
              Rejuvenate in the en-suite bathroom with plush towels and
              toiletries. Book now for a memorable stay.
            </p>
          </li>
        </ul>
        <ul class="ul-buton-all">
          <li class="li-buton-triple">
            <a href=""><button class="buton">More details</button></a>
          </li>
          <li class="li-buton">
            <button class="buton but">View prices</button>
          </li>
        </ul>
      </div>
    </section>
    <!-- FOUR-STEATER-ROOM -->
    <section class="section-steater">
      <div class="container">
        <ul class="ul-imj">
          <li class="li-bed-steater">
            <img
              class="imj-bed-steater"
              src="./images/mobail/room-four-steater.jpg"
              alt="room"
            />
          </li>
          <li class="li-bethroom-steater margin-mobil">
            <img
              class="imj-bethroom-steater"
              src="./images/mobail/bathroom-four-steater.jpg"
              alt="bethroom"
            />
          </li>
          <li class="li-kutchen-steater margin-mobil">
            <img
              class="imj-kutchen-steater"
              src="./images/mobail/kutchen-for-steater.jpg"
              alt="kutchen"
            />
          </li>
        </ul>
        <h3 class="h-general">four-seater room</h3>
        <div class="div-p-steater">
          <p class="p-steater">
            Our 4-person room is perfect for small groups, offering comfort and
            convenience with 4 comfortable beds, ample storage, flat-screen TV,
            mini-fridge, coffee maker, desk and chair, air-conditioning,
            heating, and soundproof walls. Book now for a memorable stay.
          </p>
        </div>
        <ul class="ul-buton-all">
          <li class="li-buton">
            <a href=""><button class="buton">More details</button></a>
          </li>
          <li class="li-buton">
            <button class="buton but">View prices</button>
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
